body {
    margin: 0;
}

#first-section {
    background-color: #1F2937;
    padding: 0 300px;
}

#header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header,
#top-content {
    padding-bottom: 100px;
}

#header ul,
.first p,
.first.image {
    font-size: 18px;
    color: #E5E7EB;
}

.first h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-content {
    display: flex;
    gap: 20px;
}

.first.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex: 1;
}


.first {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first button {
    margin-right: auto;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px 20px;
    border: 0;
    color: white;
}

