body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#first-section {
    background-color: #1F2937;
    padding: 0 300px;
}

#header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header,
#top-content {
    padding-bottom: 100px;
}

#header ul,
.first p,
.first.image {
    font-size: 18px;
    color: #E5E7EB;
}

.first h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-content {
    display: flex;
    gap: 20px;
}

.first.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex: 1;
}


.first {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first button {
    margin-right: auto;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px 20px;
    border: 0;
    color: white;
}

.second h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.second.subtext {
    font-size: 18px;
}

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#middle-image-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.second.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.second.image {
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
}

#third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.third.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 500px;
}

.third.person {
    margin-left: auto;
    width: 600px;
    font-size: 18px;
    font-weight: bold;
}


