#first-section {
    background-color: #1F2937;
}

#header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header ul,
.first p,
.second {
    font-size: 18px;
    color: #E5E7EB;
}

.first h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}